body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
 
  }


  .evszakok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .evszak {
    width: 200px;
    margin: 20px;
    text-align: center;
  }
